body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f037;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

#converter-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0;
}

input, select, button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    display: block;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}
